<table class="table table-striped">
  <thead>
    <tr>
      <% @enctabla.try(:each) do |enc| %>
        <th><%= CGI.escapeHTML(enc) %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @acciones = {};
       @incidencia = {};
       @actores = {};
       @etnia = {};
       @genero = {};
       @cuerpotabla.try(:each) do |fila| %>
      <tr>
        <% 
          #byebug
          idac = fila['id'].to_i
          @acciones[idac] = idac
          if fila['genero'] == 'X'
            @genero[idac] = idac
          end
          if fila['etnia'] == 'X'
            @etnia[idac] = idac
          end
          if fila['incidencia'] == 'X'
            @incidencia[idac] = idac
          end
          @actores[fila['nombre_actor']] = fila['nombre_actor']
          i=0; fila.try(:each) do |campo| %>
          <td style="text-align:center"><%= CGI.escapeHTML(campo[1]) if campo[1] %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<p>Número de Actuaciones (Actores y Acciones): <%= @cuerpotabla.count %></p>
<p>Número de Actores: <%= @actores.count %></p>
<p>Número de Acciones: <%= @acciones.count %></p>
<p>Acciones de Incidencia: <%= @incidencia.count %></p>
<p>Acciones vinculadas a Género: <%= @genero.count %> 
( <%= @acciones.count > 0 ? @genero.count * 100 / @acciones.count : nil %>% )
</p>
<p>Acciones vinculadas a Étnia: <%= @etnia.count %>
( <%= @acciones.count > 0 ? @etnia.count * 100 / @acciones.count : nil %>% )
