<div class="page-header">
  <h1><%=t '.title', :default => 
  "Indicador 1.1: Participación en escenarios de toma de decisiones" %></h1>
</div>

<div sytle="text-align: right">
  <%= form_tag(reportes_indicador11_path, method: "get", remote: true) do %>
    Periodo (fecha de inicio de actividad):
    <%= text_field_tag 'fechaini', @fechaini, maxlength: 10, size: 12, 
    "data-behaviour" => "datepicker", "data-contarautomatico" => "" 
    %> 
    -
    <%= text_field_tag 'fechafin', @fechafin, maxlength: 10, size: 12, 
    "data-behaviour" => "datepicker", "data-contarautomatico" => "" 
    %>
    <%= submit_tag("Contar") %>
  <% end %>
</div>

<div id="tabla">
  <%= render 'sip/reportes/tabla' %>
</div> <!-- id: tabla -->
