<div class="page-header">
  <h1><%=t '.title', :default => 
  "Objetivo Específico 2: Acompañamiento a Actores Sociales e Incidencia" %></h1>
</div>

<div sytle="text-align: right">
  <%= form_tag(reportes_objetivoe2_path, method: "get", remote: true) do %>
    Fecha Inicio Participación:
    <%= text_field_tag 'fechaini', @fechaini, maxlength: 10, size: 12, 
    "data-behaviour" => "datepicker", "data-contarautomatico" => "" 
    %> 
    -
    <%= text_field_tag 'fechafin', @fechafin, maxlength: 10, size: 12, 
    "data-behaviour" => "datepicker", "data-contarautomatico" => "" 
    %>
    <%= submit_tag("Contar") %>
  <% end %>
</div>

<div id="tabla">
  <%= render 'reportes/actores' %>
</div> <!-- id: tabla -->
