<tr class='nested-fields'>
  <td>
    <%= f.input :finicio_localizada,
      label: false, 
      input_html: {"data-behaviour" => "datepicker"}, as: :string %>
  </td><td>
    <%= f.input :ffin_localizada,
      label: false, 
      input_html: {"data-behaviour" => "datepicker"}, as: :string %>
  </td><td>
    <%= f.input :restiempo,
      label: false %>
  </td><td>
    <%= f.input :dmed1, 
      label: false %>
  </td><td>
    <%= f.input :dmed2,
      label: false %>
  </td><td>
    <%= f.input :rind,
      label: false %>
  </td><td>
    <%= f.input :meta,
      label: false %>
  </td><td>
    <%= f.input :porcump,
      label: false %>
  </td><td>
    <%= f.input :analisis,
      label: false %>
  </td><td>
    <%= f.input :acciones,
      label: false %>
  </td><td>
    <%= f.input :responsables,
      label: false %>
  </td><td>
    <%= f.input :plazo,
      label: false %>
  </td>
  <td>
    <%= f.input :id, as: :hidden %>
    <%= link_to t('Calcular'), '#',
                  class: 'btn', 
                  onclick: 'cor1440_gen_calcula_pmindicador(this)' %>
    <%= link_to_remove_association "Eliminar", f, 
      :class => 'btn-danger' %>
    <div><%= f.error_notification %></div>
  </td>
</tr>
