<%= f.input :respagencia %>
<div class='row'>
  <div class="col-sm-offset-0 col-sm-6">
    <%= f.input :emailrespagencia %>
  </div>
  <div class="col-sm-6">
    <%= f.input :telrespagencia %>
  </div>
</div>
<%= f.input :razonsocialfinanciador %>
<div class='row'>
  <div class="col-sm-offset-0 col-sm-6">
    <%= f.input :nitfinanciador %>
  </div>
  <div class="col-sm-6">
    <%= f.input :idtributariaextfinanciador %>
  </div>
</div>

<div class='row'>
  <div class="col-sm-offset-0 col-sm-6">
    <%= f.input :replegalfinanciador %>
  </div>
  <div class="col-sm-offset-0 col-sm-6">
    <%= f.input :domiciliofinanciador %>
  </div>
</div>
<div class='row'>
  <div class="col-sm-6">
    <%= f.input :skypefinanciador %>
  </div>
  <div class="col-sm-6">
    <%= f.input :webfinanciador %>
  </div>
</div>


<%= f.input :observaciones, as: :text, input_html: { rows: 5 } %>

