<div class="row">
  <div class="col-sm-3">
      <% ng = (!genclase.nil? && genclase == 'F') ? 'Nueva' : 'Nuevo' %>
      <% if @registros.size > 5 && can?(:new, clase.constantize)%>
        <%= link_to t('.new', default: [ng, t("helpers.links.new")]),
          new_modelo_path(@registros), class: 'btn btn-primary' 
        %>
    <% end %>
  </div>
  <div class="col-sm-3">
    <%= titulo %>: <span id="numregistros"><%= @registros.count %></span>
  </div>
  <div class="col-sm-3">
    <% tf = @registros.sum(:montopesos) %>
    <% tf = tf.round(2) %>
    Total formulado: <span id="totalformulado">$ <%= tf.a_decimal_localizado %></span>
  </div>
  <div class="col-sm-3">
    <% ta = @registros.sum('montoej*tasaej') %>
    <% ta = ta.round(2) %>
    Total aprobado: <span id="totalaprobado">$ <%= ta.a_decimal_localizado  %></span>
  </div>


</div> <!-- row -->

