<tr class='nested-fields'>
  <td>
    <%= f.association :cargo,
      collection: ::Cargo.habilitados,
      label: false,
      label_method: :nombre,
      value_method: :id
    %>
  </td>
  <td>
    <%= f.association :usuario,
      collection: ::Usuario.habilitados,
      label: false,
      label_method: lambda { |n| n.nombres.to_s + ' ' + n.apellidos.to_s },
      value_method: :id,
      include_blank: "POR CONTRATAR"
    %>
  </td>
  <td>
    <% @porc = *(1..100) %>
    <%= f.input :porcentaje, collection: @porc, label: false %>
  </td>
  <td>
    <%= f.input :id, as: :hidden %>
    <%= link_to_remove_association "Eliminar", f, 
        :class => 'btn-danger' 
    %>
    <div><%= f.error_notification %></div>
  </td>
</tr>
