<tr class='nested-fields'>
  <td>
    <%= f.association :tipoproductopf,
      collection: ::Tipoproductopf.habilitados,
      label_method: :nombre,
      value_method: :id,
      label: false
    %>
  </td>
  <td>
    <%= f.input :fechainiprod_mes, 
      label: false,
      collection: Sip::ModeloHelper::MESES %> -
    <%= f.input :fechainiprod_anio, 
      label: false,
      as: :integer,
      input_html: {
        value: f.object.fechainiprod_anio || Date.today.year
      }
    %> 
  </td>
  <td>
    <%= f.input :fechafinprod_mes, 
      label: false,
      collection: Sip::ModeloHelper::MESES %> -
    <%= f.input :fechafinprod_anio, 
      label: false,
      as: :integer,
      input_html: {
        value: f.object.fechafinprod_anio || Date.today.year
      } %> 
  </td>
  <td>
    <%= f.input :costoprevisto_localizado,
      label: false
    %>
  </td>
  <td>
    <%= f.input :fechaplaneada_localizada, 
      label: false,
      :input_html => { "data-behaviour" => "datepicker" },
      :as => :string 
    %>
  </td>
  <td>
    <%= f.input :fechareal_localizada, 
      label: false,
      :input_html => { "data-behaviour" => "datepicker" },
      :as => :string
    %>
  </td>
  <td>
    <%= f.input :devoluciones,
      boolean_style: :nested,
      label: false
    %>
  </td>
  <td>
    <%= f.association :actividadpf, 
      collection: @proyectofinanciero.actividadpf,
      label_method:  :presenta_nombre,
      input_html: {class: 'select_actividadespf'}, 
      value_method: :id,
      label: false
    %>
  </td>
  <td>
    <%= f.input :detalle, 
      label: false, 
      as: :text, 
      input_html: { rows: 2 } %>
  </td>
  <td>
    <%= f.input :id, as: :hidden %>
    <%= link_to_remove_association "Eliminar", f, 
        :class => 'btn-danger' 
    %>
    <div><%= f.error_notification %></div>
  </td>
</tr>
