
<div class='row'>
  <div class="col-sm-offset-0 col-sm-6">
    <%= f.association :tipomoneda,
      collection: ::Tipomoneda.habilitados,
      label_method: :nombre,
      value_method: :id,
      input_html: { class: 'chosen-select' }
    %>
  </div>
  <div class="col-sm-6">
    <% ctf = f.object.tipomoneda_id && f.object.tipomoneda.nombre != 'PESO' ?  ::Tasacambio.where(tipomoneda_id: f.object.tipomoneda_id) : ::Tasacambio.where('TRUE=FALSE') 
      %>
    <%= f.association :tasaformulacion,
      collection: ctf,
      label_method: lambda {|r| r.presenta_nombre },
      input_html: { class: 'chosen-select' }
   %>
  </div>
</div>
    
<div class='row'>
  <div class="col-sm-offset-0 col-sm-6">
    <% ptp = f.object.tipomoneda_id.nil? ? nil :
      (f.object.tipomoneda.nombre == 'PESO' ? f.object.presupuestototal : 
       (f.object.tasaformulacion_id.nil? ? nil : 
       f.object.presupuestototal*f.object.tasaformulacion.enpesos)
      ) 
    %>
    <%= f.input :presupuestototal_localizado,
    input_html: {
      "data-toggle" => 'tooltip',
      "title" => ptp.nil? ? '' : "$#{ptp.a_decimal_localizado}",
      value: f.object.presupuestototal_localizado || '0.0'
    }
  %>
  </div>
  <div class="col-sm-6">
    <%= f.input :apresupuesto %>
  </div>
</div>

<div class='row'>
  <div class="col-sm-offset-0 col-sm-6">
    <%= f.input :monto_localizado, 
      as: :string ,
      input_html: {
        value: f.object.monto_localizado || '0.0'
      }
    %>
  </div>
  <div class="col-sm-offset-0 col-sm-6">
    <%= f.input :montopesos_localizado, 
      as: :string,
      input_html: {
        value: f.object.montopesos_localizado || '0.0'
      }
    %>
  </div>
</div>

<div class='row'>
  <div class="col-sm-offset-0 col-sm-6">
    <%= f.input :aportecinep_localizado, as: :string %>
  </div>
  <div class="col-sm-offset-0 col-sm-6">
    <%= f.input :otrosaportescinep %>
  </div>
</div>

<div class='row'>
  <div class="col-sm-offset-0 col-sm-6">
    <%= f.input :aotrosfin_localizado, as: :string %>
  </div>
  <div class="col-sm-offset-0 col-sm-6">
    <%= f.input :aotrosesp %>
  </div>
</div>

<%= f.input :aaportes%>
<div class='row'>
  <div class="col-sm-offset-0 col-sm-6">
    <%= f.input :acuse,
      boolean_style: :nested,
      inline_label: "Acuse recibido"
    %>
  </div>
  <div class="col-sm-6">
    <%= f.input :reportarrendimientosfinancieros,
      boolean_style: :nested,
      inline_label: "Reportar rendimientos financieros"
    %>
  </div>
</div>
<div class='row'>
  <div class="col-sm-offset-0 col-sm-6">
    <%= f.input :reinvertirrendimientosfinancieros,
      boolean_style: :nested,
      inline_label: "Reinvertir rendimientos financieros"
    %>
  </div>
  <div class="col-sm-6">
    <%= f.input :autenticarcompulsar,
      boolean_style: :nested,
      inline_label: "Autenticar compulsar"
    %>
  </div>
</div>

<table border=1 width="100%">
  <thead>
    <tr>
      <th>Desembolso</th>
      <th>Fecha Planeada</th>
      <th>Valor Planeado</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="desembolso">
    <%= f.simple_fields_for :desembolso do |d| %>
      <%= render 'desembolso_campos', :f => d %>
    <% end %>
  </tbody>
</table>
<div class="links">
  <%= link_to_add_association 'Añadir Desembolso', f, 
    :desembolso,
    :"data-association-insertion-node" => "tbody#desembolso", 
    :"data-association-insertion-method" => "append", 
    partial: 'desembolso_campos',
    :class => 'btn-primary'
  %>
</div>

<%= f.input :anotacionesre, as: :text, input_html: { rows: 5 } %>
