
<% ih_et = { class: 'editable-entramite' } %>
<% ih_et[:readonly] = 'readonly' if f.object.estado != 'E' %>
<% ih_ee = { class: 'editable-enejecucion' } %>
<% ih_ee[:readonly] = 'readonly' if f.object.estado != 'J' %>

<div class='row'>
  <div class="col-sm-4">
    Tipo de moneda
  </div>
  <div class="col-sm-4">
    <% ih_tm = ih_et.clone %>
    <% if f.object.estado != 'E' %>
      <% ih_tm[:disabled] = 'disabled' %>
    <% end %>
    <%= f.association :tipomoneda,
      collection: ::Tipomoneda.habilitados,
      label_method: :nombre,
      value_method: :id,
      label: false,
      input_html: ih_tm %>
  </div>
  <div class="col-sm-4">
    <%= link_to "Ver tasas de referencia", 
      main_app.tasascambio_path, target: '_blank' %>
  </div>
</div>

<div class="table-responsive-md">
  <table class="table table-bordered">
    <thead>
      <tr class="table-active">
        <th>Concepto</th>
        <th colspan='2'>Formulación</th>
        <th colspan='2'>Ejecución</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Tasa de cambio</th>
        <td colspan='2'>
          <% ctf = f.object.tipomoneda_id && 
            f.object.tipomoneda.nombre != 'PESO' ?  
            ::Tasacambio.where(tipomoneda_id: f.object.tipomoneda_id) : 
            ::Tasacambio.where('TRUE=FALSE') %>
          <% ih_tf = ih_et.clone %>
          <% if f.object.tipomoneda_id %>
              <% if f.object.tipomoneda.nombre == 'PESO' %>
                <% ih_tf[:value] = 1 %>
                <% ih_tf[:readonly] = 'readonly' %>
              <% end%>
          <% end %>
          <%= f.input :tasa_localizado,
            input_html: ih_tf,
            label: false
          %>
        </td>
        <td colspan='2'>
          <% ih_te = ih_ee.clone %>
          <% if f.object.tipomoneda_id %>
              <% if f.object.tipomoneda.nombre == 'PESO' %>
                <% ih_te[:value] = 1 %>
                <% ih_te[:readonly] = 'readonly' %>
              <% end%>
          <% end %>
          <%= f.input :tasaej_localizado, 
            input_html: ih_te,
            label: false %>
        </td>
      </tr> 

      <tr>
        <th></th>
        <th>Moneda</th>
        <th>Pesos</th>
        <th>Moneda</th>
        <th>Pesos</th>
      </tr>

      <tr>
        <th>Aporte financiador</th>
        <td>
          <% ih_m = ih_et.clone %>
          <% ih_m[:value] = f.object.monto_localizado || '0.0' %>
          <%= f.input :monto_localizado, 
            as: :string,
            label: false,
            input_html: ih_m %>
        </td>
        <td>
          <%= f.input :montopesos_localizado, 
            as: :string,
            input_html: {readonly: 'readonly',
              value: f.object.montopesos_localizado || '0.0' },
            label: false
          %>
        </td>
        <td>
          <%= f.input :montoej_localizado, 
            input_html: ih_ee,
            label: false %>
        </td>
        <td>
          <%= f.input :montoejp_localizado, 
            input_html: {readonly: 'readonly' },
            label: false %>
        </td>
      </tr>
      <tr>
        <th>Aporte CINEP/PPP</th>
        <td>
           <%= f.input :aportecinep_localizado, 
             as: :string,
             label: false,
             input_html: ih_et %>
        </td>
        <td>
          <%= f.input :aportecinepp_localizado, 
            input_html: {readonly: 'readonly' },
            label: false %>
        </td>
        <td>
          <%= f.input :aportecinepej_localizado, 
            input_html: ih_ee,
            label: false %>
        </td>
        <td>
          <%= f.input :aportecinepejp_localizado, 
            input_html: {readonly: 'readonly' },
            label: false %>
        </td>
      </tr>
      <tr>
        <th>Aportes Otros donantes</th>
        <td>
          <%= f.input :aotrosfin_localizado, 
            label: false,
            input_html: ih_et,
            as: :string %>
        </td>
        <td>
          <%= f.input :aporteotrosp_localizado, 
            input_html: {readonly: 'readonly' },
            label: false %>
        </td>
        <td>
          <%= f.input :aporteotrosej_localizado, 
            input_html: ih_ee,
            label: false %>
        </td>
        <td>
          <%= f.input :aporteotrosejp_localizado, 
            input_html: {readonly: 'readonly' },
            label: false %>
        </td>
      </tr>

      <tr>
        <th>Saldo</th>
        <td>
          <%= f.input :saldo_localizado,
            input_html: ih_et,
            label: false %>
        </td>
        <td>
          <%= f.input :saldop_localizado,
            input_html: {readonly: 'readonly' },
            label: false %>
        </td>
        <td>
          <%= f.input :saldoej_localizado,
            input_html: ih_ee,
            label: false %>
        </td>
        <td>
          <%= f.input :saldoejp_localizado,
            input_html: {readonly: 'readonly' },
            label: false %>
        </td>
      </tr>
      <tr class="table-dark">
        <th>Presupuesto Total</th>
        <td>
           <% ptp = f.object.tipomoneda_id.nil? ? nil :
            (f.object.tipomoneda.nombre == 'PESO' ? f.object.presupuestototal : 
             (f.object.tasa.nil? ? nil : 
             f.object.presupuestototal*f.object.tasa )
            ) 
          %>
          <% ih_pt = {
            "data-toggle" => 'tooltip',
            class: 'editable-entramite',
            title: ptp.nil? ? '' : "$#{ptp.a_decimal_localizado}",
            value: f.object.presupuestototal_localizado || '0.0'
            }
            ih_pt[:readonly] = 'readonly' if f.object.estado != 'E'
          %>
          <%= f.input :presupuestototal_localizado,
            input_html: {readonly: 'readonly' },
            label: false %>
        </td> 
        <td>
          <%= f.input :presupuestototalp_localizado,
            input_html: {readonly: 'readonly' },
            label: false %>
        </td>
        <td>
          <%= f.input :presupuestototalej_localizado,
            input_html: {readonly: 'readonly' },
            label: false %>
        </td>
        <td>
          <%= f.input :presupuestototalejp_localizado,
            input_html: {readonly: 'readonly' },
            label: false %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class='row'>
  <%= f.input :aaportes, 
    as: :text, 
    input_html: { rows: 3 } %>
</div>

<div class='row'>
  <div class="col-sm-offset-0 col-sm-6">
    <%= f.input :acuse,
      boolean_style: :nested,
      inline_label: "Acuse recibido"
    %>
  </div>
  <div class="col-sm-6">
    <%= f.input :reportarrendimientosfinancieros,
      boolean_style: :nested,
      inline_label: "Reportar rendimientos"
    %>
  </div>
</div>
<div class='row'>
  <div class="col-sm-offset-0 col-sm-6">
    <%= f.input :reinvertirrendimientosfinancieros,
      boolean_style: :nested,
      inline_label: "Reinvertir rendimientos"
    %>
  </div>
  <div class="col-sm-6">
    <%= f.input :autenticarcompulsar,
      boolean_style: :nested,
      inline_label: "Autenticar, compulsar"
    %>
  </div>
</div>

<table border=1 width="100%">
  <thead>
    <tr>
      <th>Desembolso</th>
      <th>Fecha Planeada</th>
      <th>Valor Planeado</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="desembolso">
    <%= f.simple_fields_for :desembolso do |d| %>
      <%= render 'desembolso_campos', :f => d %>
    <% end %>
  </tbody>
</table>
<div class="links">
  <%= link_to_add_association 'Añadir Desembolso', f, 
    :desembolso,
    :"data-association-insertion-node" => "tbody#desembolso", 
    :"data-association-insertion-method" => "append", 
    partial: 'desembolso_campos',
    :class => 'btn-primary'
  %>
</div>

<%= f.input :anotacionesre, as: :text, input_html: { rows: 5 } %>
