
<%= f.association :tipomoneda,
  label_method: :nombre
%>
<%= f.input :presupuestototal_localizado %>
<%= f.input :monto_localizado, as: :string %>
<%= f.input :aportecinep_localizado, as: :string %>
<%= f.input :otrosaportescinep %>
<!--  include_blank: false,
  label_method: :nombre,
  value_method: :id
%-->
<%= f.input :acuse,
      boolean_style: :nested,
      inline_label: "Acuse recibido"
%>
<%= f.input :reportarrendimientosfinancieros,
      boolean_style: :nested,
      inline_label: "Reportar rendimientos financieros"
%>

<%= f.input :reinvertirrendimientosfinancieros,
      boolean_style: :nested,
      inline_label: "Reinvertir rendimientos financieros"
%>
<%= f.input :autenticarcompulsar,
      boolean_style: :nested,
      inline_label: "Autenticar compulsar"
%>

<table border=1 width="100%">
  <thead>
    <tr>
      <th>Desembolso</th>
      <th>Fecha Planeada</th>
      <th>Valor Planeado</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="desembolso">
    <%= f.simple_fields_for :desembolso do |d| %>
      <%= render 'desembolso_campos', :f => d %>
    <% end %>
  </tbody>
</table>
<div class="links">
  <%= link_to_add_association 'Añadir Desembolso', f, 
    :desembolso,
    :"data-association-insertion-node" => "tbody#desembolso", 
    :"data-association-insertion-method" => "append", 
    partial: 'desembolso_campos',
    :class => 'btn-primary'
  %>
</div>

<%= f.input :anotacionesre, as: :text, input_html: { rows: 5 } %>
