<%= f.association :oficina,
  collection: Sip::Oficina.habilitados,
  label_method: :nombre,
  value_method: :id 
%>

<%= f.association :uresponsable,
  collection: Usuario.habilitados.order(:nusuario),
  include_blank: false,
  label_method: lambda { |t|
    r = t.nusuario
    if t.nombre then r += " - " + t.nombre end
    r
  },
  value_method: :id 
%>


<%=
  f.association :coordinador,
    collection: Usuario.where(fechadeshabilitacion: nil).order(:nusuario),
    include_blank: false,
    label_method: lambda { |t|
      r = t.nusuario
      if t.nombre then r += " - " + t.nombre end
      r
    },
    value_method: :id
%>

<table border=1 width="100%">
  <thead>
    <tr>
      <th>Cargo</th>
      <th>Persona</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody id="proyectofinanciero_usuario">
    <%= f.simple_fields_for :proyectofinanciero_usuario do |pu| %>
      <%= render 'proyectofinanciero_usuario_campos', :f => pu%>
    <% end %>
  </tbody>
</table>
<div class="links">
  <%= link_to_add_association 'Añadir Cargo', f, :proyectofinanciero_usuario,
    :"data-association-insertion-node" => "tbody#proyectofinanciero_usuario", 
    :"data-association-insertion-method" => "append", 
    partial: 'proyectofinanciero_usuario_campos',
    :class => 'btn-primary'
  %>
</div>

<%= f.input :anotacionesrh, as: :text, input_html: { rows: 5 } %>
