<% 
  if current_usuario.rol == Ability::ROLADMIN || 
    current_usuario.rol == Ability::ROLDIR
    lg = Sip::Grupo.habilitados.map(&:id)
  else
    lg = Sip::Grupo.investigacion.map(&:id)
  end
  lg = lg | f.object.grupo_ids if f.object.grupo_ids
  cg = Sip::Grupo.where(id: lg).order(:nombre)
%>
<%= f.association :grupo,
  collection: cg,
  label_method: :nombre,
  value_method: :id,
  input_html: { class: 'chosen-select' }
%>

<p>
<div class='row'>
  <div class="offset-sm-0 col-sm-6">
    <table border=1 width="100%">
      <thead>
        <tr>
          <th>Coordinador</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody id="coordinador_proyectofinanciero">
        <%= f.simple_fields_for :coordinador_proyectofinanciero do |cp| %>
          <%= render 'coordinador_proyectofinanciero_campos', :f => cp %>
        <% end %>
      </tbody>
    </table>
    <div class="links">
      <%= link_to_add_association 'Añadir Coordinador ', f, 
        :coordinador_proyectofinanciero,
        :"data-association-insertion-node" => "tbody#coordinador_proyectofinanciero", 
        :"data-association-insertion-method" => "append", 
        partial: 'coordinador_proyectofinanciero_campos',
        :class => 'btn-primary' %>
    </div>
  </div>
  <div class="col-sm-6">
    <table border=1 width="100%">
      <thead>
        <tr>
          <th>Responsable</th>
          <th>Porcentaje</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody id="proyectofinanciero_uresponsable">
        <%= f.simple_fields_for :proyectofinanciero_uresponsable do |pu| %>
          <%= render 'proyectofinanciero_uresponsable_campos', f: pu %>
        <% end %>
      </tbody>
    </table>
    <div class="links">
      <%= link_to_add_association 'Añadir Responsable', f, 
        :proyectofinanciero_uresponsable,
        :"data-association-insertion-node" => "tbody#proyectofinanciero_uresponsable", 
        :"data-association-insertion-method" => "append", 
        partial: 'proyectofinanciero_uresponsable_campos',
        :class => 'btn-primary'
      %>
    </div>
  </div>
</div>
</p>

<p>
<table border=1 width="100%">
  <thead>
    <tr>
      <th>Persona</th>
      <th>Cargo</th>
      <th>Perfil Prof.</th>
      <th>Tipo de contrato</th>
      <th>Porcentaje</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody id="proyectofinanciero_usuario">
    <%= f.simple_fields_for :proyectofinanciero_usuario do |pu| %>
      <%= render 'proyectofinanciero_usuario_campos', :f => pu%>
    <% end %>
  </tbody>
</table>
<div class="links">
  <%= link_to_add_association 'Añadir Cargo', f, 
    :proyectofinanciero_usuario,
    :"data-association-insertion-node" => "tbody#proyectofinanciero_usuario", 
    :"data-association-insertion-method" => "append", 
    partial: 'proyectofinanciero_usuario_campos',
    :class => 'btn-primary'
  %>
</div>
</p>

<% umgu = Cor1440Gen::GruposHelper.usuarios_gerenciaproyectos.
  where(fechadeshabilitacion: nil) %>

<% coordgp = Sip::Grupo.where(cn: 'CoordinadorGerenciaDeProyectos').take %>
<% respom = coordgp ? coordgp : current_usuario %>
<%= f.association :respgp,
  collection: umgu,
  include_blank: true,
  label_method: lambda { |t| 
    r = ""
    r += t.nombres + " " if t.nombres
    r += t.apellidos if t.apellidos
    r += ' -  ' + t.nusuario
    r 
  },
  value_method: :id,
  selected:  f.object.respgp_id ? f.object.respgp_id : respom,
  input_html: { class: 'chosen-select' } %>

<%= f.association :respgp2,
  collection: umgu,
  include_blank: true,
  label_method: lambda { |t| 
    r = ""
    r += t.nombres + " " if t.nombres
    r += t.apellidos if t.apellidos
    r += ' -  ' + t.nusuario
    r 
  },
  value_method: :id,
  selected:  f.object.respgp2_id ? f.object.respgp2_id : respom,
  input_html: { class: 'chosen-select' } %>


<%= f.input :anotacionesrh, as: :text, input_html: { rows: 5 } %>
