
<div class='row'>
  <div class="col-sm-offset-0 col-sm-6">
    <% ih_tm = {
         class: 'chosen-select editable-entramite' 
        }
       ih_tm[:readonly] = 'readonly' if f.object.estado != 'E'
    %>
    <%= f.association :tipomoneda,
      collection: ::Tipomoneda.habilitados,
      label_method: :nombre,
      value_method: :id,
      input_html: ih_tm
    %>
  </div>
  <div class="col-sm-6">
    <% ctf = f.object.tipomoneda_id && f.object.tipomoneda.nombre != 'PESO' ?  ::Tasacambio.where(tipomoneda_id: f.object.tipomoneda_id) : ::Tasacambio.where('TRUE=FALSE') %>
    <% ih_tf = {
         class: 'chosen-select editable-entramite' 
        }
       ih_tf[:readonly] = 'readonly' if f.object.estado != 'E'
    %>
    <%= f.association :tasaformulacion,
      collection: ctf,
      label_method: lambda {|r| r.presenta_nombre },
      input_html: ih_tf
   %>
  </div>
</div>
    
<div class='row'>
  <div class="col-sm-offset-0 col-sm-6">
    <% ptp = f.object.tipomoneda_id.nil? ? nil :
      (f.object.tipomoneda.nombre == 'PESO' ? f.object.presupuestototal : 
       (f.object.tasaformulacion_id.nil? ? nil : 
       f.object.presupuestototal*f.object.tasaformulacion.enpesos)
      ) 
    %>
    <% ih_pt = {
      "data-toggle" => 'tooltip',
      class: 'editable-entramite',
      title: ptp.nil? ? '' : "$#{ptp.a_decimal_localizado}",
      value: f.object.presupuestototal_localizado || '0.0'
      }
      ih_pt[:readonly] = 'readonly' if f.object.estado != 'E'
    %>
    <%= f.input :presupuestototal_localizado,
    input_html: ih_pt  %>
  </div>
  <div class="col-sm-6">
    <% ih_ap = { class: 'editable-entramite' }; 
       ih_ap[:readonly] = 'readonly' if f.object.estado != 'E' %>
    <%= f.input :apresupuesto,
      input_html: ih_ap %>
  </div>
</div>

<div class='row'>
  <div class="col-sm-offset-0 col-sm-6">
    <% ih_m = { value: f.object.monto_localizado || '0.0',
                class: 'editable-entramite' }
       ih_m[:readonly] = 'readonly' if f.object.estado != 'E' %>
    <%= f.input :monto_localizado, 
      as: :string ,
      input_html: ih_m
    %>
  </div>
  <div class="col-sm-offset-0 col-sm-6">
    <% ih_mp = { value: f.object.montopesos_localizado || '0.0',
                class: 'editable-entramite' }
       ih_mp[:readonly] = 'readonly' if f.object.estado != 'E' %>
    <%= f.input :montopesos_localizado, 
      as: :string,
      input_html: ih_mp
    %>
  </div>
</div>

<div class='row'>
  <div class="col-sm-offset-0 col-sm-6">
    <% ih_ac = { class: 'editable-entramite' }
       ih_ac[:readonly] = 'readonly' if f.object.estado != 'E' %>
     <%= f.input :aportecinep_localizado, 
       as: :string,
       input_html: ih_ac %>
  </div>
  <div class="col-sm-offset-0 col-sm-6">
    <%= f.input :otrosaportescinep %>
  </div>
</div>

<div class='row'>
  <div class="col-sm-offset-0 col-sm-6">
    <%= f.input :aotrosfin_localizado, as: :string %>
  </div>
  <div class="col-sm-offset-0 col-sm-6">
    <%= f.input :aotrosesp %>
  </div>
</div>

<div class='row'>
  <div class="col-sm-6">
    <%= f.input :aaportes, as: :text, input_html: { rows: 3 } %>
  </div>
  <div class="col-sm-6">
    <%= f.input :saldo_localizado %>
  </div>
</div>

<div class='row'>
  <div class="col-sm-offset-0 col-sm-6">
    <%= f.input :acuse,
      boolean_style: :nested,
      inline_label: "Acuse recibido"
    %>
  </div>
  <div class="col-sm-6">
    <%= f.input :reportarrendimientosfinancieros,
      boolean_style: :nested,
      inline_label: "Reportar rendimientos"
    %>
  </div>
</div>
<div class='row'>
  <div class="col-sm-offset-0 col-sm-6">
    <%= f.input :reinvertirrendimientosfinancieros,
      boolean_style: :nested,
      inline_label: "Reinvertir rendimientos"
    %>
  </div>
  <div class="col-sm-6">
    <%= f.input :autenticarcompulsar,
      boolean_style: :nested,
      inline_label: "Autenticar, compulsar"
    %>
  </div>
</div>

<table border=1 width="100%">
  <thead>
    <tr>
      <th>Desembolso</th>
      <th>Fecha Planeada</th>
      <th>Valor Planeado</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="desembolso">
    <%= f.simple_fields_for :desembolso do |d| %>
      <%= render 'desembolso_campos', :f => d %>
    <% end %>
  </tbody>
</table>
<div class="links">
  <%= link_to_add_association 'Añadir Desembolso', f, 
    :desembolso,
    :"data-association-insertion-node" => "tbody#desembolso", 
    :"data-association-insertion-method" => "append", 
    partial: 'desembolso_campos',
    :class => 'btn-primary'
  %>
</div>

<%= f.input :anotacionesre, as: :text, input_html: { rows: 5 } %>
