<p>
<table border="1">
  <tr>
    <th>Tipo de producto</th>
    <th>Inicio de producción planeado</th>
    <th>Fin de producción planeado</th>
    <th>Costo previsto</th>
    <th>Fecha planeada</th>
    <th>Fecha envio</th>
    <th>Devoluciones</th>
    <th>Seguimiento</th>
  </tr>
  <% @registro.productopf.each do |p| %>
    <tr>
      <td><%= p.tipoproductopf.nombre %></td>
      <td>
        <%= p.fechainiprod_mes if p.fechainiprod_mes %> /
        <%= p.fechainiprod_anio if p.fechainiprod_anio %> 
      </td>
      <td>
        <%= p.fechafinprod_mes if p.fechafinprod_mes %> /
        <%= p.fechafinprod_anio if p.fechafinprod_anio %> 
      </td>
      <td>
        <%= p.costoprevisto_localizado if p.costoprevisto %> 
      </td>
      <td><%= p.fechaplaneada_localizada %></td>
      <td><%= p.fechareal_localizada %></td>
      <td><%= p.devoluciones ? 'Si' : 'No' %></td>
      <td><%= p.seguimiento %></td>
    </tr>
  <% end %>
</table>
</p>
