<% if can?(:edit, :contextoac) %>
  <% if f.object.contextoinv_id %>
    <div class="panel panel-default">
      <div class="panel-heading">Contexto</div><div class="panel-body">
  
        <!--%= f.input :contexto, as: :text %-->
        <%= f.simple_fields_for :contextoinv do |c| %>
          <% #byebug %>
          <%= c.input :id, as: :hidden %>
          <%= c.input :usuario_id, as: :hidden, input_html: { 
            value: f.object.usuario_id ? f.object.usuario_id : 
            current_usuario
          } %>
          <%= c.input :fechainicio,
            :input_html => { 
              "data-behaviour" => "datepicker",
              readonly: 'readonly'
            },
            :as => :string, :label => "Fecha Inicial" 
          %>
          <%= c.input :fechafin,
            :input_html => { 
              "data-behaviour" => "datepicker",
              readonly: 'readonly'
            },
            :as => :string, :label => "Fecha Final" 
          %>
          <% ldh = Sip::Grupo.where("nombre LIKE 'Línea Derechos Humanos%'").take %>
          <%= c.input :regiongrupo,
            input_html: {
              readonly: 'readonly',
              value: c.object.regiongrupo.nombre
            }
          %>
          <%= c.input :contexto %>
        <% end %>
      </div> <!-- panel-body -->
    </div> <!-- panel panel-default -->
  <% end %>
<% end %>
