<%= simple_form_for @actividad, 
  :url => cor1440_gen.actividades_path(@actividad).sub(/\./,"/"), 
  :html => { :class => 'form-horizontal' } do |f| 
%>
<div data-role="content" class="form-inputs">
  <div id="errores">
    <% if f.object.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-error">
          El formulario tiene 
          <%= pluralize(f.object.errors.count, "error") %>.
        </div>
        <ul>
          <% f.object.errors.full_messages.each do |msg| %>
            <li>* <%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.error_notification %>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Planeación</div><div class="panel-body">
      <%= f.input :nombre %>
      <%= f.input :fecha, 
        :input_html => { "data-behaviour" => "datepicker"}, 
        :as => :string 
      %>
      <%= f.input :lugar,
        label: 'Lugar'
      %>
      <!--%= f.input :duracion %-->
      <%= f.association :oficina,
        collection: Sip::Oficina.habilitados,
        label_method: :nombre, 
        value_method: :id,
        include_blank: false
      %>
      <%= 
        f.association :responsable,
        collection: Usuario.all.order(:nombre),
        include_blank: false,
        label: "Responsable",
        label_method: lambda { |t| 
          r = t.nusuario
          if t.nombre then r += " - " + t.nombre end
          r },
        value_method: :id 
      %>
      <%=
        f.association :usuario,
          collection: Usuario.where(fechadeshabilitacion: nil).order(:nombre),
          include_blank: false,
          label: "Corresponsables",
          label_method: lambda { |t|
          r = t.nusuario
          if t.nombre then r += " - " + t.nombre end
          r
        },
          value_method: :id
      %>
      <!-- incluido en actividadtipo %= f.input :papel,
        label: 'Papel en la Actividad'
      %-->
      <%= f.association :actividadtipo, 
        collection: Cor1440Gen::Actividadtipo.habilitados,
        label_method: :nombre, 
        value_method: :id 
      %>
      <%= f.association :proyecto,
        collection: Cor1440Gen::Proyecto.habilitados,
        label_method: :nombre, 
        value_method: :id 
      %>
      <%= f.association :actividadareas, 
        collection: Cor1440Gen::Actividadarea.habilitados,
        label_method: :nombre, 
        value_method: :id 
      %>
      <%= f.input :objetivo, as: :text %>
    
      <%= f.input(:convocante, collection: [
                  "El Banco de Datos",
                  "El Cinep/PPP",
                  "Una agencia financiadora",
                  "ONG",
                  "Sistema ONU",
                  "Entidad estatal",
                  "Otro"
        ], 
        label: '¿Quién convocó la actividad?',
        include_blank: false ) 
      %>

    </div> <!-- panel-body -->
  </div> <!-- panel panel-default -->
  <div class="panel panel-default">
    <div class="panel-heading">Desarrollo</div><div class="panel-body">

      <%= f.association :actor, 
        collection: ::Actor.habilitados,
        label: "Actores institucionales que participan",
        label_method: :nombre, 
        value_method: :id 
      %>
      <%= f.input :participantes,
        label: 'Actores Individuales que participan',
        as: :text
      %>
      <!--%= f.input :totorg, label: 'Total organizaciones' %-->
      <%= f.input :mujeres,
        label: 'Mujeres'
      %>
      <%= f.input :hombres,
        label: 'Hombres'
      %>
      <%= f.input :negros,
        label: 'Negros'
      %>
      <%= f.input :indigenas,
        label: 'Indigenas'
      %>
      <%= f.input :mestizos,
        label: 'Mestizos'
      %>
      <%= f.input :blancos,
        label: 'Blancos'
      %>
      <%= f.input :desarrollo,
        label: 'Desarrollo de la Actividad',
        as: :text
      %>
        </div> <!-- panel-body -->
  </div> <!-- panel panel-default -->
  <div class="panel panel-default">
    <div class="panel-heading">Evaluación/Seguimiento</div><div class="panel-body">
      <%= f.input :resultado, as: :text %>
      <%= f.input :observaciones,
        label: 'Compromisos / Observaciones',
        as: :text
      %>
      <%= f.input :valora,
        label: 'Valore la actividad en términos de importancia, efecto y proyección (1-5)'
      %>
         </div> <!-- panel-body -->
  </div> <!-- panel panel-default -->
  <div class="panel panel-default">
    <div class="panel-heading">Medios de Verificación / Anexos</div><div class="panel-body">
   
      <div class="anexos-div anexosdiv">
        <%= f.simple_fields_for :actividad_sip_anexo do |a| %>
          <%= render 'actividad_sip_anexo_fields', :f => a %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'Añadir Anexo', f, 
            :actividad_sip_anexo, :class => 'btn-primary' 
          %>
        </div>
      </div> <!-- anexos-div -->
    </div> <!-- panel-body -->
  </div> <!-- panel panel-default -->
 
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      cor1440_gen.actividades_path, :class => 'btn' 
    %>
  </div>
<% end %>
