<%= simple_form_for @actividad, 
  :url => cor1440_gen.actividades_path(@actividad).sub(/\./,"/"), 
  :html => { } do |f| 
%>
<div data-role="content" class="form-inputs">
  <div id="errores">
    <% if f.object.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-error">
          El formulario tiene 
          <%= pluralize(f.object.errors.count, "error") %>.
        </div>
        <ul>
          <% f.object.errors.full_messages.each do |msg| %>
            <li>* <%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.error_notification %>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Planeación</div><div class="panel-body">
      <div class='row'>
        <div class='col-sm-offset-0 col-sm-4'>
          <%= f.input :fecha_localizada, 
            :input_html => { "data-behaviour" => "datepicker"}, 
            :as => :string %>
        </div>
        <div class='col-sm-4'>
         <%= f.input :duracion_localizado %>
       </div>
       <div class='col-sm-4'>
         <%= f.input(:mduracion, collection: [
           "Minutos",
            "Horas",
            "Días",
            "Meses" ], 
            label: 'Unidad de duración',
            input_html: { class: 'chosen-select' }) %>
        </div>
      </div> <!-- row -->
      <div class='row'>
        <div class='col-sm-offset-0 col-sm-12'>
          <%= f.input :nombre,
            label: 'Nombre' %>
       </div>
      </div> <!-- row -->
      <div class='row'>
       <div class='col-sm-offset-0 col-sm-6'>
         <%= f.association :departamento,
           collection: (Sip::Departamento.where(
             id_pais: 170,
             fechadeshabilitacion: nil).order(:nombre)),
           label: "Departamento",
           label_method: :nombre,
           value_method: :id,
           input_html: { class: 'chosen-select' }
         %>
       </div>
       <div class='col-sm-6'>
         <%= f.association :municipio,
           collection: (Sip::Municipio.where(
             id_departamento: f.object.departamento_id,
             fechadeshabilitacion: nil).order(:nombre)),
           label: "Municipio",
           label_method: :nombre,
           value_method: :id
         %>
       </div>
      </div> <!-- row -->
      <% if @misgrupos.nil? || @colgrupos.nil? %>
        <% controller.recalcula_misgrupos(current_usuario, @registro) %>
      <% end %>
      <% mgui = @misgrupos.map(&:id) %>
      <% gp = @misgrupos.where("nombre LIKE '#{Ability::GRUPO_LINEA}%'").
        order(:nombre).first %>
      <% gd = f.object.grupo.count > 0 ? f.object.grupo.map(&:id) : 
        (gp ? [gp.id] : []) %>
      <% gruposids = mgui + gd %>
      <div class='row'>
       <div class='col-sm-offset-0 col-sm-6'>
         <%= f.association :grupo,
           collection: @colgrupos,
           label: 'Grupo',
           label_method: :nombre, 
           value_method: :id,
           include_blank: false,
           selected:  gd,
           input_html: { class: 'chosen-select' } %>
       
       </div>
       <div class='col-sm-6'>
         <%= render partial: 'campo_proyectosfinancieros', locals: {f: f} %>
       </div>
      </div> <!-- row -->

      <div class='row'>
        <div class='col-sm-offset-0 col-sm-6'>
          <%= f.association :objetivopf, 
            collection: ::Cor1440Gen::Objetivopf.where(
              proyectofinanciero_id: f.object.proyectofinanciero.map(&:id)),
            label_method: lambda { |t| t.numero + ': ' + t.objetivo}, 
            value_method: :id,
            input_html: { class: 'chosen-select' } %>
        </div>
        <div class='col-sm-offset-0 col-sm-6'>
          <%= render partial: 'campo_actividadpf', locals: {f: f} %>
        </div>
      </div> <!-- row -->

      <div class='row'>
        <div class='col-sm-offset-0 col-sm-6'>
          <%= render partial: 'campo_responsable', locals: {f: f} %>
        </div>
        <div class='col-sm-offset-0 col-sm-6'>
          <%= render partial: 'campo_corresponsables', locals: {f: f} %>
        </div>
      </div> <!-- row -->


    
    </div> <!-- panel-body -->
  </div> <!-- panel panel-default -->

  <div class="panel panel-default">
    <div class="panel-heading">Desarrollo y Resultado</div><div class="panel-body">

      <%= render partial: 'campo_valorcampoact', locals: {f: f} %>

      <div class='row'>
        <div class='col-sm-offset-0 col-sm-6'>
          <%= render partial: 'campo_actor', locals: {f: f} %>
        </div> 
        <div class='col-sm-offset-0 col-sm-6'>
          <%= render partial: 'campo_publicacion', locals: {f: f} %>
        </div> 
      </div> <!-- row -->

      <!--div class='row'>
        <div class='col-sm-offset-0 col-sm-12'>
          <%= f.input :participantes,
            label: 'Personas acompañadas o que participan',
            as: :text
          %>
        </div> 
      </div!--> <!-- row -->

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Mujeres</th>
            <th scope="col">Hombres</th>
            <th scope="col">Otros/NR</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= f.input :mujeres, 
                label: false %>
            </td>
            <td>
              <%= f.input :hombres, 
                label: false %>
            </td>
            <td>
              <%= f.input :sexo_onr, 
                label: false %>
            </td>
            <td id='tot_genero_oc'>
              <%=
                s = f.object.hombres ? f.object.hombres : 0
                s += f.object.mujeres ? f.object.mujeres : 0
                s += f.object.sexo_onr ? f.object.sexo_onr : 0
                s %>

            </td>
          </tr>
        </tbody>
      </table>

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Afros/Negros/Palenqueros/Raizales</th>
            <th scope="col">Indígenas</th>
            <th scope="col">Otros/NR</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= f.input :negros, 
                label: false %>
            </td>
            <td>
              <%= f.input :indigenas, 
                label: false %>
            </td>
            <td>
              <%= f.input :etnia_onr, 
                label: false %>
            </td>
            <td id='tot_etnia_oc'>
              <%=
                s = f.object.negros ? f.object.negros : 0
                s += f.object.indigenas ? f.object.indigenas : 0
                s += f.object.etnia_onr ? f.object.etnia_onr : 0
                s %>
          </td>
          </tr>
        </tbody>
      </table>

      <%= f.input :observaciones, as: :text %>

    </div> <!-- panel-body -->
  </div> <!-- panel panel-default -->

  <%= render partial: 'contexto', locals: {f: f, gruposids: gruposids} %>

  <%= render partial: 'campo_anexos', locals: {f: f} %>
 
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      cor1440_gen.actividades_path, :class => 'btn' 
    %>
  </div>
<% end %>
