<%= simple_form_for @actividad, 
  :url => cor1440_gen.actividades_path(@actividad).sub(/\./,"/"), 
  :html => { } do |f| 
%>
<div data-role="content" class="form-inputs">
  <div id="errores">
    <% if f.object.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-error">
          El formulario tiene 
          <%= pluralize(f.object.errors.count, "error") %>.
        </div>
        <ul>
          <% f.object.errors.full_messages.each do |msg| %>
            <li>* <%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.error_notification %>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Planeación</div><div class="panel-body">
      <div class='row'>
        <div class='col-sm-offset-0 col-sm-4'>
          <%= f.input :fecha_localizada, 
            :input_html => { "data-behaviour" => "datepicker"}, 
            :as => :string %>
        </div>
        <div class='col-sm-4'>
         <%= f.input :duracion, 
           label: 'Duración estimada',
           as: :integer %>
       </div>
       <div class='col-sm-4'>
         <%= f.input(:mduracion, collection: [
           "Minutos",
            "Horas",
            "Días",
            "Meses" ], 
            label: 'Unidad de duración',
            input_html: { class: 'chosen-select' }) %>
        </div>
      </div> <!-- row -->
      <div class='row'>
        <div class='col-sm-offset-0 col-sm-12'>
          <%= f.input :nombre,
            label: 'Nombre' %>
       </div>
      </div> <!-- row -->
      <div class='row'>
       <div class='col-sm-offset-0 col-sm-6'>
         <%= f.association :departamento,
           collection: (Sip::Departamento.where(
             id_pais: 170,
             fechadeshabilitacion: nil).order(:nombre)),
           label: "Departamento",
           label_method: :nombre,
           value_method: :id,
           input_html: { class: 'chosen-select' }
         %>
       </div>
       <div class='col-sm-6'>
         <%= f.association :municipio,
           collection: (Sip::Municipio.where(
             id_departamento: f.object.departamento_id,
             fechadeshabilitacion: nil).order(:nombre)),
           label: "Municipio",
           label_method: :nombre,
           value_method: :id
         %>
       </div>
      </div> <!-- row -->
      <% mgu = Cor1440Gen::GruposHelper.mis_grupos_sinus(current_usuario) %>

      <% gd = f.object.grupo.count > 0 ? f.object.grupo.map(&:id) : 
        (mgu.count > 0 ? mgu.first.id : nil) %>
      <div class='row'>
       <div class='col-sm-offset-0 col-sm-6'>
         <%= f.association :grupo,
           collection: mgu,
           label: 'Equipo',
           label_method: :nombre, 
           value_method: :id,
           include_blank: false,
           selected:  gd,
           input_html: { class: 'chosen-select' } %>

         <% wu = mgu.count == 0 ?  'TRUE=FALSE' : 
           "fechadeshabilitacion IS NULL 
         AND  id IN (SELECT usuario_id FROM sip_grupo_usuario WHERE 
         (sip_grupo_id IN (#{mgu.map(&:id).join(', ')})))
           " 
         %>

         <% umgu = Sip::Usuario.where(wu).
           order(:nombres, :apellidos, :nusuario) %>

         <%= f.input :responsable, 
           as: :hidden, 
           input_html: {
             value: f.object.usuario_id ? f.object.usuario_id : 
             current_usuario.id 
           } %>
       </div>
       <div class='col-sm-6'>
         <%= f.association :proyectofinanciero,
           collection: Cor1440Gen::Proyectofinanciero.all.
           order(:referenciacinep),
           label_method: :referenciacinep, 
           value_method: :id,
           input_html: { class: 'chosen-select' }
         %>
       </div>
      </div> <!-- row -->

      <div class='row'>
        <div class='col-sm-offset-0 col-sm-12'>
          <%= f.input :objetivo, as: :text %>
        </div> 
      </div> <!-- row -->
    
    </div> <!-- panel-body -->
  </div> <!-- panel panel-default -->

  <div class="panel panel-default">
    <div class="panel-heading">Desarrollo</div><div class="panel-body">
      <div class='row'>
        <div class='col-sm-offset-0 col-sm-6'>
          <%= f.association :actor, 
            collection: ::Actor.habilitados.where.not(id: 102).where.not(id: 103),
            label: "Actores sociales",
            label_method: :nombre, 
            value_method: :id,
            input_html: { class: 'chosen-select' }
          %>
        </div> 
        <div class='col-sm-offset-0 col-sm-6'>
          <%= f.association :publicacion, 
            collection: ::Publicacion.habilitados,
            label: "Publicaciones CINEP usadas",
            label_method: :nombre, 
            value_method: :id,
            input_html: { class: 'chosen-select' }
          %>
        </div> 
      </div> <!-- row -->

      <!--div class='row'>
        <div class='col-sm-offset-0 col-sm-12'>
          <%= f.input :participantes,
            label: 'Personas acompañadas o que participan',
            as: :text
          %>
        </div> 
      </div!--> <!-- row -->

      <div class='row'>
        <div class='col-sm-offset-0 col-sm-2'>
          <%= f.input :mujeres,
            label: 'Mujeres'
          %>
        </div> 
        <div class='col-sm-offset-0 col-sm-2'>
          <%= f.input :hombres,
            label: 'Hombres'
          %>
        </div> 
        <div class='col-sm-offset-0 col-sm-2'>
          <%= f.input :negros,
            label: 'Negros'
          %>
        </div> 
        <div class='col-sm-offset-0 col-sm-2'>
          <%= f.input :indigenas,
            label: 'Indigenas'
          %>
        </div> 
        <div class='col-sm-offset-0 col-sm-2'>
          <%= f.input :mestizos,
            label: 'Mestizos'
          %>
        </div> 
        <div class='col-sm-offset-0 col-sm-2'>
          <%= f.input :blancos,
            label: 'Blancos' %>
        </div> 
      </div> <!-- row -->
    </div> <!-- panel-body -->
  </div> <!-- panel panel-default -->
  <div class="panel panel-default">
    <div class="panel-heading">Evaluación/Seguimiento</div><div class="panel-body">
      <%= f.input :resultado, as: :text %>
      <!--%= f.input :observaciones,
        label: 'Compromisos / Observaciones',
        as: :text
      %-->

      <!--%= f.input(:valora, collection: [
                  1,
                  2,
                  3,
                  4,
                  5
        ], 
        input_html: { class: 'chosen-select' },
        label: 'Valore la actividad en términos de importancia, efecto y proyección (1-5)',
        include_blank: true) 
      %-->
    </div> <!-- panel-body -->
  </div> <!-- panel panel-default -->

  <% if can? :edit, :contextoac %>
    <div class="panel panel-default">
      <div class="panel-heading">Contexto</div><div class="panel-body">
        <!--%= f.input :contexto, as: :text %-->
        <%= f.simple_fields_for :contextoinv, 
            ::Contextoinv.new do |c| %>
          <%= c.input :id, as: :hidden %>
          <%= c.input :usuario_id, as: :hidden, input_html: { 
            value: f.object.usuario_id ? f.object.usuario_id : 
            current_usuario
          } %>
          <%= c.input :fechainicio,
            :input_html => { 
            "data-behaviour" => "datepicker" },
            :as => :string, :label => "Fecha Inicial" 
          %>
          <%= c.input :fechafin,
            :input_html => { 
            "data-behaviour" => "datepicker" },
            :as => :string, :label => "Fecha Final" 
          %>
          <%= c.association :regiongrupo %>
          <%= c.input :contexto %>
        <% end %>
      </div> <!-- panel-body -->
    </div> <!-- panel panel-default -->
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">Medios de Verificación / Anexos</div><div class="panel-body">
   
      <div class="anexos-div anexosdiv">
        <%= f.simple_fields_for :actividad_sip_anexo do |a| %>
          <%= render 'actividad_sip_anexo_fields', :f => a %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'Añadir Anexo', f, 
            :actividad_sip_anexo, :class => 'btn-primary' 
          %>
        </div>
      </div> <!-- anexos-div -->
    </div> <!-- panel-body -->
  </div> <!-- panel panel-default -->
 
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      cor1440_gen.actividades_path, :class => 'btn' 
    %>
  </div>
<% end %>
