<%= simple_form_for @actividad, 
  :url => cor1440_gen.actividades_path(@actividad).sub(/\./,"/"), 
  :html => { } do |f| 
%>
<div data-role="content" class="form-inputs">
  <div id="errores">
    <% if f.object.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-error">
          El formulario tiene 
          <%= pluralize(f.object.errors.count, "error") %>.
        </div>
        <ul>
          <% f.object.errors.full_messages.each do |msg| %>
            <li>* <%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.error_notification %>
  </div>

  <div class="card">
    <h5 class="card-header text-center">Planeación</h5>
    <div class="card-body">
      <!--h5 class="card-title">Special title treatment</h5-->
      <div class='row'>
        <div class='offset-sm-0 col-sm-4'>
          <%= f.input :fecha_localizada, 
            :input_html => { "data-behaviour" => "datepicker"}, 
            :as => :string %>
        </div>
        <div class='col-sm-4'>
         <%= f.input :duracion_localizado %>
       </div>
       <div class='col-sm-4'>
         <%= f.input(:mduracion, collection: [
            "Horas",
            "Minutos",
            "Días",
            "Meses" ], 
            label: 'Unidad de duración',
            include_blank: false,
            input_html: { class: 'chosen-select' }) %>
        </div>
      </div> <!-- row -->
      <div class='row'>
        <div class='offset-sm-0 col-sm-12'>
          <%= f.input :nombre,
            label: 'Nombre' %>
       </div>
      </div> <!-- row -->
      <div class='row'>
       <div class='offset-sm-0 col-sm-6'>
         <%= f.association :departamento,
           collection: (Sip::Departamento.where(
             id_pais: 170,
             fechadeshabilitacion: nil).order(:nombre)),
           label: "Departamento",
           label_method: :nombre,
           value_method: :id,
           input_html: { class: 'chosen-select' }
         %>
       </div>
       <div class='col-sm-6'>
         <%= f.association :municipio,
           collection: (Sip::Municipio.where(
             id_departamento: f.object.departamento_id,
             fechadeshabilitacion: nil).order(:nombre)),
           label: "Municipio",
           label_method: :nombre,
           value_method: :id
         %>
       </div>
      </div> <!-- row -->
      <% if @misgrupos.nil? || @colgrupos.nil? %>
        <% controller.recalcula_misgrupos(current_usuario, @registro) %>
      <% end %>
      <% mgui = @misgrupos.map(&:id) %>
      <% gp = @misgrupos.where("nombre LIKE '#{Ability::GRUPO_LINEA}%'").
        order(:nombre).first %>
      <% gd = f.object.grupo.count > 0 ? f.object.grupo.map(&:id) : 
        (gp ? [gp.id] : []) %>
      <% gruposids = mgui + gd %>
      <div class='row'>
       <div class='offset-sm-0 col-sm-6'>
         <%= f.association :grupo,
           collection: @colgrupos,
           label: 'Grupo',
           label_method: :nombre, 
           value_method: :id,
           include_blank: false,
           selected:  gd,
           input_html: { class: 'chosen-select' } %>
       </div>
       <div class='col-sm-6'>
       </div>
      </div> <!-- row -->

      <%= render partial: 'campo_proyectofinanciero', locals: {f: f} %>

      <div class='row'>
        <div class='offset-sm-0 col-sm-4'>
          <%= render partial: 'campo_responsable', locals: {f: f} %>
        </div>
        <div class='offset-sm-0 col-sm-4'>
          <%= render partial: 'campo_corresponsables', locals: {f: f} %>
        </div>
        <div class='offset-sm-0 col-sm-4'>
          <%= f.input :precedidapor %>
        </div>
      </div> <!-- row -->

    </div> <!-- card-body -->
  </div> <!-- card -->

  <div class="card">
    <h5 class="card-header text-center">Desarrollo y Resultado</h5>
    <div class="card-body">

      <%= render partial: 'campo_respuestafor', locals: {f: f} %>

      <%= render partial: 'campo_lanzapublicacion', locals: {f: f} %>

      <div class='row'>
        <div class='offset-sm-0 col-sm-6'>
          <%= render partial: 'campo_orgsocial', locals: {f: f} %>
        </div> 
        <div class='offset-sm-0 col-sm-6'>
          <%= render partial: 'campo_publicacion', locals: {f: f} %>
        </div> 
      </div> <!-- row -->

      <!--div class='row'>
        <div class='offset-sm-0 col-sm-12'>
          <%= f.input :participantes,
            label: 'Personas acompañadas o que participan',
            as: :text
          %>
        </div> 
      </div!--> <!-- row -->

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Mujeres</th>
            <th scope="col">Hombres</th>
            <th scope="col">Otros/NR</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= f.input :mujeres, 
                label: false %>
            </td>
            <td>
              <%= f.input :hombres, 
                label: false %>
            </td>
            <td>
              <%= f.input :sexo_onr, 
                label: false %>
            </td>
            <td id='tot_genero'>
              <%=
                s = f.object.hombres.to_i + f.object.mujeres.to_i +
                  f.object.sexo_onr.to_i
                s %>

            </td>
          </tr>
        </tbody>
      </table>

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Afros/Negros/Palenqueros/Raizales</th>
            <th scope="col">Indígenas</th>
            <th scope="col">Mestizos</th>
            <th scope="col">Otras Etnias/NR</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= f.input :negros, 
                label: false %>
            </td>
            <td>
              <%= f.input :indigenas, 
                label: false %>
            </td>
            <td>
              <%= f.input :mestizos, 
                label: false %>
            </td>
            <td>
              <%= f.input :etnia_onr, 
                label: false %>
            </td>
            <td id='tot_etnia'>
              <%=
                s = f.object.negros.to_i + f.object.indigenas.to_i +
                  f.object.mestizos.to_i + f.object.etnia_onr.to_i
                s %>
          </td>
          </tr>
        </tbody>
      </table>

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Jóvenes</th>
            <th scope="col">Otros Rangos de Edad/NR</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= f.input :jovenes, 
                label: false %>
            </td>
            <td>
              <%= f.input :rangoedad_onr, 
                label: false %>
            </td>
            <td id='tot_rangoedad'>
              <%=
                s = f.object.jovenes.to_i + f.object.rangoedad_onr.to_i
                s %>
          </td>
          </tr>
        </tbody>
      </table>

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Campesinos</th>
            <th scope="col">Otros Sectores Sociales/NR</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= f.input :campesinos, 
                label: false %>
            </td>
            <td>
              <%= f.input :sectorsocial_onr, 
                label: false %>
            </td>
            <td id='tot_sectorsocial'>
              <%=
                s = f.object.campesinos ? f.object.campesinos : 0
                s += f.object.sectorsocial_onr ? f.object.sectorsocial_onr : 0
                s %>
          </td>
          </tr>
        </tbody>
      </table>


      <%= f.input :observaciones, as: :text %>

    </div> <!-- card-body -->
  </div> <!-- card -->

  <%= render partial: 'contexto', locals: {f: f, gruposids: gruposids} %>

  <%= render partial: 'campo_anexos', locals: {f: f} %>

  <div class="card">
    <h5 class="card-header text-center">Revisión</h5>
    <div class="card-body">

      <% if current_usuario && @actividad && @actividad.creadopor &&
          current_usuario.id != @actividad.creadopor.id %>
        <div class='row'>
          <div class='offset-sm-0 col-sm-6'>
            <%= f.input :vistobuenopar, as: :boolean %>
          </div> 
          <div class='offset-sm-0 col-sm-6'>
            <%= f.input :observacionespar, as: :text %>
          </div> 
        </div> <!-- row -->
      <% end %>

      <% if can?(:dir, :vistobuenoactividad) %>
        <div class='row'>
          <div class='offset-sm-0 col-sm-6'>
            <%= f.input :vistobuenodir, as: :boolean %>
          </div> 
          <div class='offset-sm-0 col-sm-6'>
            <%= f.input :observacionesdir, as: :text %>
          </div> 
        </div> <!-- row -->
      <% end %>
    <div> <!-- card-body -->
  </div> <!-- card -->


  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      cor1440_gen.actividades_path, :class => 'btn' 
    %>
  </div>
<% end %>
