<% content_for :titulo do %>
    <%= Sip.titulo %>
<% end %>

<% content_for :linkhref do %>
  <link href='https://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
<% end %>


<% content_for :menu do %>
  <%= grupo_menus do %>
    <% if !current_usuario.nil? %>
      <% if can?(:read, Cor1440Gen::Actividad) || can?(:read, Sip::Orgsocial)  %>
        <%= despliega_abajo 'Actividades' do %>
          <% if can?(:read, Cor1440Gen::Actividad) %>
            <%= opcion_menu 'Listado', cor1440_gen.actividades_path,
              desplegable: true %>
            <%= opcion_menu 'Conteo de Actividades', 
              cor1440_gen.contar_actividades_path, desplegable: true %>
          <% end %>
          <% if can? :index, Sip::Orgsocial %>
            <%= opcion_menu 'Organizaciones Sociales', sip.orgsociales_path,
              desplegable: true %>
          <% end %>
          <% if can? :manage, Sip::Persona %>
            <%= opcion_menu 'Personas', sip.personas_path,
              desplegable: true %>
          <% end %>
          <% if can? :edit, :contextoac %>
            <%= opcion_menu 'Reporte Trienal 2015-2017 Indicador 1.1', 
              main_app.reportes_indicador11_path,
              desplegable: true %>
            <%= opcion_menu 'Reporte Trienal 2015-2017 Objetivo Especifico 2', 
              main_app.reportes_objetivoe2_path,
              desplegable: true %>
            <%= opcion_menu 'Reporte Trienal 2015-2017 Cuadro Actividades', 
              main_app.reportes_cuadroactividades_path,
              desplegable: true %>
          <% end %>
        <% end %>
      <% end %>

      <% if can? :read, Cor1440Gen::Proyectofinanciero %>
        <%= despliega_abajo 'Compromisos y Convenios' do %>
          <%= opcion_menu 'Listado de Compromisos Institucionales', 
            cor1440_gen.proyectosfinancieros_path,
            desplegable: true %>
          <% if can? :new, Cor1440Gen::Proyectofinanciero %>
            <%= opcion_menu 'Validar Compromisos Institucionales', 
              cor1440_gen.validar_proyectosfinancieros_path,
              desplegable: true %>
          <% end %>
          <% if can? :index, Cor1440Gen::Mindicadorpf %>
            <%= opcion_menu 'Medición de Indicadores', 
              cor1440_gen.mindicadorespf_path,
              desplegable: true %>
          <% end %>
          <% if can? :edit, ::Convenio %>
            <%= opcion_menu 'Listado Convenios Interinstitucionales Marco', 
              main_app.convenios_path,
              desplegable: true %>
          <% end %>
          <% if can? :edit, ::Tasacambio%>
            <%= opcion_menu 'Tasas de cambio', main_app.tasascambio_path,
              desplegable: true %>
          <% end %>
        <% end %>
      <% end %>

      <%= despliega_abajo 'Datos' do %>
        <% if can? :read, ::Busqunif %>
          <%= opcion_menu 'Consulta unificada', 
            main_app.busqsunif_path,
            desplegable: true %>
        <% end %>
        <% if can? :index, :exploradordatosrel %>
          <%= opcion_menu 'Explorador visual de datos relacionados', 
            '/casos/mapatiempo/',
            desplegable: true %>
        <% end %>
        <% if can? :index, :confytransf %>
          <%= opcion_menu 'Conflictividades y su transformación', 
            main_app.confytransf_path,
            desplegable: true %>
        <% end %>
        <% if can? :index, ::Ls %>
           <%= opcion_menu 'Luchas Sociales', 
             main_app.lss_path,
             desplegable: true %>
        <% end %>
        <% if can? :index, ::Acp %>
           <%= opcion_menu 'Acciones colectivas por la paz', 
             main_app.acps_path,
             desplegable: true %>
        <% end %>
        <% if can? :index, :dinamicas %>
           <%= opcion_menu 'Dinámicas del Conflicto', 
             main_app.dinamicasconflicto_path,
             desplegable: true %>
        <% end %>
        <%= opcion_menu 'Violencia Político Social', 
          'https://base.nocheyniebla.org/casos',
          desplegable: true %>
        <%= opcion_menu 'Archivo de Prensa', 
          'https://archivoprensa.cinep.org.co/buscar',
          desplegable: true %>
      <% end %>

    <% end %>
  <% end %>
  <%= grupo_menus :pull => :right do %>
    <% if can?(:read, Heb412Gen::Doc) && 
        !::Ability.externo?(current_usuario) %>
      <%= despliega_abajo 'Documentos y Plantillas' do %>
        <%= opcion_menu 'Nube', heb412_gen.sisini_path,
          desplegable: true %>
        <% if can? :manage, ::Heb412Gen::Plantillahcm %>
          <%= opcion_menu 'Plantillas para listados en hojas de calculo',
            heb412_gen.plantillashcm_path,
            desplegable: true %>
          <% if can? :manage, ::Acp %>
            <%= opcion_menu 'Importar datos de listado en hoja de cálculo',
              heb412_gen.plantillashcm_importadatos_path, desplegable: true %>
          <% end %>
        <% end %>
        <% if can? :manage, ::Heb412Gen::Plantillahcr %>
          <%= opcion_menu 'Plantillas para un registro en hoja de calculo',
            heb412_gen.plantillashcr_path,
            desplegable: true %>
        <% end %>
        <% if can? :manage, ::Heb412Gen::Plantilladoc %>
          <%= opcion_menu 'Plantillas para un registro en documento',
            heb412_gen.plantillasdoc_path,
            desplegable: true %>
        <% end %>
      <% end %>
    <% end %>
    <% if !current_usuario.nil? %>
      <%= despliega_abajo 'Administrar' do %>
        <%= opcion_menu 'Clave y tema', main_app.editar_registro_usuario_path,
          desplegable: true %>
        <%= opcion_menu 'Hacer solicitud TI', 
          'https://ti.cinep.org.co:12443/ti/',
          desplegable: true %>
        <% if can? :read, ::Usuario %>
          <%= opcion_menu 'Directorio/Organigrama', 
            main_app.grupos_arbol_path,
            desplegable: true %>
          <%= opcion_menu 'Usuarios', main_app.usuarios_path,
            desplegable: true %>
        <% end %>
        <% if can? :manage, :tablasbasicas %>
          <%= opcion_menu 'Tablas Básicas', sip.tablasbasicas_path,
            desplegable: true %>
        <% end %>
        <% if can? :manage, Mr519Gen::Formulario %>
          <%= opcion_menu 'Formularios', mr519_gen.formularios_path,
            desplegable: true %>
        <% end %>
        <% if can? :read, Mr519Gen::Encuestausuario %>
          <%= opcion_menu 'Encuestas a usuarios CRECER', 
            mr519_gen.encuestasusuario_path,
            desplegable: true %>
        <% end %>
        <% if can? :read, Mr519Gen::Encuestapersona %>
          <%= opcion_menu 'Planes de encuestas a Organizaciones Sociales', 
            mr519_gen.planesencuesta_path,
            desplegable: true %>
          <%= opcion_menu 'Encuestas a contactos de Organizaciones Sociales', 
            mr519_gen.encuestaspersona_path,
            desplegable: true %>
        <% end %>
        <%= opcion_menu 'Ver Control de Acceso', 
          sip.ayuda_controldeacceso_path,
          desplegable: true %>
      <% end %>
      <%= opcion_menu "Salir #{current_usuario.nusuario}", 
        main_app.sign_out_path %>
    <% else %>
      <%= opcion_menu 'Acerca de', sip.acercade_path %>
      <%= opcion_menu 'Iniciar Sesión', main_app.new_usuario_session_path %> 
    <% end %>
  <% end %>
<% end %>

<% content_for :piedepagina do %>
  <hr>
  <p><span class='derechos'>
    Sistema de información de <a href="https://github.com/pasosdeJesus/cor1440_cinep">código abierto</a>, desarrollado para <a href="http://www.cinep.org.co" target="_blank">CINEP/PPP</a> por <a href="http://www.pasosdeJesus.org" target="_blank">Pasos de Jesús</a>. 2015-2020. 
  </span></p>
<% end %>

<%= render template: 'layouts/sip/application' %>
