<% content_for :titulo do %>
    <%= Sip.titulo %>
<% end %>

<% content_for :linkhref do %>
  <link href='https://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
<% end %>


<% content_for :menu do %>
  <%= menu_group do %>
    <% if !current_usuario.nil? %>
      <% if can? :read, Cor1440Gen::Actividad %>
        <%= drop_down "Actividades" do %>
          <%= menu_item "Listado", cor1440_gen.actividades_path %>
          <%= menu_item "Nueva Actividad", cor1440_gen.new_actividad_path %>
          <%= menu_item "Reporte Trienal 2015-2017 Indicador 1.1", main_app.reportes_indicador11_path %>
          <%= menu_item "Reporte Trienal 2015-2017 Objetivo Especifico 2", main_app.reportes_objetivoe2_path %>
          <%= menu_item "Reporte Trienal 2015-2017 Cuadro Actividades", main_app.reportes_cuadroactividades_path %>
          <% if can? :read, Cor1440Gen::Informe %>
            <%= menu_item "Informes", cor1440_gen.informes_path %>
          <% end %>
        <% end %>
      <% end %>
      <%= menu_item "Compromisos Institucionales", cor1440_gen.proyectosfinancieros_path %>
    <% end %>
  <% end %>
  <%= menu_group :pull => :right do %>
    <% if !current_usuario.nil? %>
      <%= drop_down "Documentos" do %>
        <%= menu_item "Nube", heb412_gen.sisini_path %>
      <%end %>
      <%= drop_down "Administrar" do %>
        <%= menu_item "Clave", main_app.editar_registro_usuario_path %>
        <% if can? :manage, Heb412Gen::Doc %>
           <%= menu_item "Definir plantilla listado en hoja de calculo", 
             heb412_gen.new_plantillahcm_path %>
        <% end %>
        <% if can? :manage, ::Usuario %>
          <%= menu_item "Sincroniza Grupos y Usuarios de LDAP", jn316_gen.sincronizarug_path %>
          <%= menu_item "Usuarios", main_app.usuarios_path %>
        <% end %>
        <% if can? :manage, :tablasbasicas %>
          <%= menu_item "Tablas Básicas", sip.tablasbasicas_path %>
        <% end %>
      <% end %>
      <%= menu_item "Salir #{current_usuario.nusuario}", main_app.sign_out_path %>
    <% else %>
      <%= menu_item "Acerca de", sip.acercade_path %>
      <%= menu_item "Iniciar Sesión", main_app.new_usuario_session_path %> 
    <% end %>
  <% end %>
<% end %>

<% content_for :footer do %>
  <p><span class='derechos'>Dominio Público de acuerdo a Legislación Colombiana<br/>
    Personalización desarrollado para el <a href="http://www.nocheyniebla.org">Banco de Datos del CINEP/PPP</a> por <a href="http://www.pasosdeJesus.org" target="_blank">Pasos de Jesús</a>. 2015. 
  </span></p>
<% end %>

<%= render template: "layouts/sip/application" %>
